:root {
  --klinecharts-pro-period-bar-height: 38px;
  --klinecharts-pro-drawing-bar-width: 52px;
  --klinecharts-pro-widget-width: calc(100% - var(--klinecharts-pro-drawing-bar-width));
  --klinecharts-pro-widget-height: calc(100% - var(--klinecharts-pro-period-bar-height));
}

.klinecharts-pro {
  --klinecharts-pro-primary-color: #1677ff;
  --klinecharts-pro-hover-background-color: rgba(22, 119, 255, 0.15);
  --klinecharts-pro-background-color: #ffffff;
  --klinecharts-pro-popover-background-color: #ffffff;
  --klinecharts-pro-text-color: #051441;
  --klinecharts-pro-text-second-color: #76808f;
  --klinecharts-pro-border-color: #ebedf1;
  --klinecharts-pro-selected-color: rgba(22, 119, 255, 0.15);
  --klinecharts-pro-card-bg: rgba(255, 255, 255, 0.95);
  --klinecharts-pro-text-secondary: #76808f;

  &[data-theme=dark] {
    --klinecharts-pro-hover-background-color: rgba(22, 119, 255, 0.15);
    --klinecharts-pro-background-color: #151517;
    --klinecharts-pro-popover-background-color: #1c1c1f;
    --klinecharts-pro-text-color: #f8f8f8;
    --klinecharts-pro-text-second-color: #929aa5;
    --klinecharts-pro-border-color: #292929;
    --klinecharts-pro-card-bg: rgba(22, 22, 25, 0.95);
    --klinecharts-pro-text-secondary: #929aa5;
  }
}
